@import "colors";
@import "text";

body {
  min-height: calc(100vh - 40px - 3em);
  max-width: 30cm;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: "Karla", sans-serif;
  font-size: $normal-text;
  display: flex;
  flex-direction: column;
  justify-content: space-beetween;
  gap: 3em;
  main {
    margin-top: calc(40px + 2em);
    padding-left: .3em;
    padding-right: .3em;
    flex: 1
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
  }
  a {
    color: $link-color;
  }
}

.tile {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, 50ex);
}

.split {
  display: grid;
  gap: 1em;
  grid-template-columns: minmax(30ex, max-content) 1fr;
  div.split-child:first-child {
    padding: 0 6ex 0 0;
  }
}

label {
  &::before {
    content: attr(aria-label);
  }
  input {
    appearance: none;
    border: 2px solid $accent-color;
    outline: none;
    padding: 2mm !important;
    margin: 1em;
    border-radius: 0;
    transition: all 200ms ease;
    background-color: $background-color;
    color: $text-color;
    &:focus {
      border: 2px solid $link-color !important;
    }
  }
}

.download-buttons {
  a {
    display: block;
    margin: 3mm;
    padding: 3mm;
    color: var(--foreground);
    text-decoration: none;
    background-color: $link-color;
    border: 1px solid $link-color;
    position: relative;
    top: 0;
    left: 0;
    transition: all 200ms ease-in-out;
    &:hover {
      background-color: $background-color;
      border-color: $accent-color;
      top: -3px;
      left: -5px;
      box-shadow: 5px 3px 0px $accent-color;
    }
  }
}

.download-menu {
  @media screen and (min-width: 20cm) {
    position: sticky;
    height: 100vh;
    top: 4em;
  }
  @media screen and (max-width: 20cm) {
    right: 0;
    left: 0;
    background-color: $background-color;
    position: fixed;
    top: calc(40px + .6em);
    height: 7cm;
    margin-left: .3em;
    margin-right: .3em;
  }
}

.caption-split {
  @media screen and (min-width: 20cm) {
    gap: 1em;
    display: grid;
    grid-template-columns: minmax(30ex, max-content) 1fr;
    div.split-child:first-child {
      padding: 0 6ex 0 0;
    }
  }
}

em {
  color: $accent-color;
}
