@import "./colors";

@media screen and (max-width: 20cm) {
  main {
    margin-top: calc(7cm + 1em + 40px) !important;
  }
}


.download-menu {
  @media screen and (min-width: 20cm) {
    position: sticky;
    height: 100vh;
    top: 4em;
  }
  @media screen and (max-width: 20cm) {
    right: 0;
    left: 0;
    background-color: $background-color;
    position: fixed;
    top: calc(40px + 0.6em);
    height: 7cm;
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

.caption-split {
  @media screen and (min-width: 20cm) {
    gap: 1em;
    display: grid;
    grid-template-columns: minmax(30ex, max-content) 1fr;
    div.split-child:first-child {
      padding: 0 6ex 0 0;
    }
  }
}
