@import "../colors.scss";
@import "../text.scss";

div.clip-list {
  display: flex;
  flex-direction: column;
  grid-template-columns: 10ex 2ex 1fr;
  width: 60vw;
  column-gap: 1em;
  div.clip-entry {
    cursor: pointer;
    &:hover {
      font-weight: bold;
      .clip-separator {
        border-color: $accent-color;
      }
    }
    display: flex;
    flex-direction: row;
    justify-items: center;
    .clip-separator {
      margin-left: 0.5em;
      width: 0px;
      align-self: stretch;
      margin-right: 2em;
      border: 1px solid $link-color;
      &.clip-selected {
        border-color: $accent-color;
        border-width: 3px;
        margin-right: calc(2em - 4px);
      }
    }
    .clip-list-time {
      width: 10ex;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .clip-list-text {
      align-self: center;
    }
  }
}
