@import "../colors.scss";
@import "../text.scss";

div.clip-list {
  display: flex;
  flex-direction: column;
  width: 60vw;
  @media screen and (max-width: 20cm) {
    width: 96vw;
  }
  column-gap: 1em;
  div.clip-entry {
    cursor: pointer;
    &:hover {
      font-weight: bold;
      .clip-separator {
        border-color: $accent-color;
      }
    }
    display: grid;
    grid-template-columns: 3cm 1cm 1fr;
    justify-items: center;
    .clip-separator {
      margin-left: 0.5em;
      width: 0px;
      align-self: stretch;
      margin-right: 2em;
      border: 1px solid $link-color;
      &.clip-selected {
        border-color: $accent-color;
        border-width: 3px;
        margin-right: calc(2em - 4px);
      }
    }
    .clip-list-time {
      width: 3cm;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .clip-list-text {
      align-self: center;
      justify-self: start;
    }
  }
}
